<!-- Validation failure messages -->

<% if @teacher_enrollment.errors.any? %>
  <% @teacher_enrollment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Teacher Enrollment #<%= @teacher_enrollment.id %></h3>
      </div>
      <div class="panel-body">

        <form action="/update_teacher_enrollment/<%= @teacher_enrollment.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



          <!-- Label and input for completed -->
          <div class="form-group">

            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label for="completed">
                  <input type="checkbox" id="completed" name="completed" value="1" <%= "checked" if @teacher_enrollment.completed %>>
                  Completed
                </label>
              </div>
            </div>

          </div>


          <!-- Label and input for teacher_course_id -->
          <div class="form-group">

            <label for="teacher_course_id" class="col-sm-2 control-label">
              Teacher course
            </label>
            <div class="col-sm-10">

              <input type="text" id="teacher_course_id" name="teacher_course_id" placeholder="Teacher course" class="form-control" value="<%= @teacher_enrollment.teacher_course_id %>">

            </div>

          </div>


          <!-- Label and input for teacher_id -->
          <div class="form-group">

            <label for="teacher_id" class="col-sm-2 control-label">
              Teacher
            </label>
            <div class="col-sm-10">

              <input type="text" id="teacher_id" name="teacher_id" placeholder="Teacher" class="form-control" value="<%= @teacher_enrollment.teacher_id %>">

            </div>

          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Teacher Enrollment
              </button>
              or

              <a href="/teacher_enrollments/<%= @teacher_enrollment.id %>">Cancel</a>

            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
