<!-- Validation failure messages -->

<% if @teacher_course.errors.any? %>
  <% @teacher_course.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<!-- Responsive panel example -->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Edit Teacher Course #<%= @teacher_course.id %></h3>
      </div>
      <div class="panel-body">

        <form action="/update_teacher_course/<%= @teacher_course.id %>" method="post" class="form-horizontal">
          <!-- Hidden input for authenticity token to protect from forgery -->
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">



          <!-- Label and input for date -->
          <div class="form-group">

            <label for="date" class="col-sm-2 control-label">
              Date
            </label>
            <div class="col-sm-10">

              <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="<%= @teacher_course.date %>">

            </div>

          </div>


          <!-- Label and input for description -->
          <div class="form-group">

            <label for="description" class="col-sm-2 control-label">
              Description
            </label>
            <div class="col-sm-10">

              <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="<%= @teacher_course.description %>">

            </div>

          </div>


          <!-- Label and input for teacher_enrollment_id -->
          <div class="form-group">

            <label for="teacher_enrollment_id" class="col-sm-2 control-label">
              Teacher enrollment
            </label>
            <div class="col-sm-10">

              <input type="text" id="teacher_enrollment_id" name="teacher_enrollment_id" placeholder="Teacher enrollment" class="form-control" value="<%= @teacher_course.teacher_enrollment_id %>">

            </div>

          </div>


          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-warning">
                Update Teacher Course
              </button>
              or

              <a href="/teacher_courses/<%= @teacher_course.id %>">Cancel</a>

            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>


<!-- End responsive panel example -->
