<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Student <%= @student.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

            <% if defined?(@student.school.name) %>
              <dt>School</dt>
              <dd><%= @student.school.name %></dd>
            <% end %>
            <% if defined?(@student.classroom.name) %>
              <dt>Classroom</dt>
              <dd><%= @student.classroom.name %></dd>
            <% end %>
              <dt>Gender</dt>
              <dd><%= @student.gender %></dd>


              <dt>Dob</dt>
              <dd><%= @student.dob %></dd>


              <dt>Education level</dt>
              <dd><%= @student.education_level %></dd>


            </dl>
            <div class="btn-group btn-group-justified">

              <a href="/students" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>
              <% if @student.classroom.school.advocate_id == current_advocate.id %>
                <a href="/students/<%= @student.id %>/edit" class="btn btn-warning">
                  <i class="fa fa-edit"></i>
                </a>

                <a href="/delete_student/<%= @student.id %>" class="btn btn-danger" rel="nofollow">
                  <i class="fa fa-trash-o"></i>
                </a>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
