<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Network #<%= @network.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

              <dt>Advocate</dt>
              <dd><%= @network.advocate.name %></dd>


              <dt>Country</dt>
              <dd><%= @network.country %></dd>


              <dt>Name</dt>
              <dd><%= @network.name %></dd>


            </dl>
            <div class="btn-group btn-group-justified">

              <a href="/networks" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>
              <% if @network.advocate_id == current_advocate.id %>
                <a href="/networks/<%= @network.id %>/edit" class="btn btn-warning">
                  <i class="fa fa-edit"></i>
                </a>

                <a href="/delete_network/<%= @network.id %>" class="btn btn-danger" rel="nofollow">
                  <i class="fa fa-trash-o"></i>
                </a>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
