<!-- Responsive panel example-->






<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">School <%= @school.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">

              <dt>Advocate</dt>
              <dd><%= @school.advocate.name %></dd>

              <dt>Network</dt>
              <dd><%= @school.network.name %></dd>

              <dt>Longitude</dt>
              <dd><%= @school.longitude %></dd>


              <dt>Latitude</dt>
              <dd><%= @school.latitude %></dd>


              <dt>Location</dt>
              <dd><%= @school.location %></dd>


            </dl>
            <div class="btn-group btn-group-justified">

              <a href="/schools" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>
              <% if @school.advocate_id == current_advocate.id %>
                <a href="/schools/<%= @school.id %>/edit" class="btn btn-warning">
                  <i class="fa fa-edit"></i>
                </a>

                <a href="/delete_school/<%= @school.id %>" class="btn btn-danger" rel="nofollow">
                  <i class="fa fa-trash-o"></i>
                </a>
              <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
<style type="text/css">
      #map-canvas { height: 300px; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: <%= @school.latitude %> , lng: <%= @school.longitude %>},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var contentString = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h1 id="firstHeading" class="firstHeading"><small><%= @school.name %></small></h1>'+
        '<div id="bodyContent">'+
        '<p><b>Advocate:</b> <%= @school.advocate.name %></p>'+
        '<p><b>Network:</b> <%= @school.network.name %></p>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
          position: { lat: <%= @school.latitude %> , lng: <%= @school.longitude %>},
          map: map,
          title: 'Hello World!'
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.open(map,marker);
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Map</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <div id="map-canvas"></div>
            </dl>
          </div>
        </div>
      </div>
    </div>
